@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --DesaturatedRed: hsl(0, 36%, 70%);
    --DesaturatedRed2: hsla(0, 53%, 83%, 0.697);
    --SoftRed: hsl(0, 93%, 68%);
    --DarkGrayishRed: hsl(0, 6%, 24%);
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

main{
    height: 100vh;
    width: 100%;
    background-color: #fef6f8;
}

.container{
    height: 38rem;
    width: 75rem;
    display: flex;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container .logo{
    display: none;
}

.container .left{
    height: 100%;
    width: 60%;
    background-color: white;
    padding: 3rem 6rem;
}

.left #logo{
    margin-bottom: 4rem;
}
.htext{
    margin-bottom: 3rem;
}

.left .htext h1{
    font-size: 3.5rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
    margin-bottom: 0.1rem;
    color: var(--DarkGrayishRed);
}

.left .htext h1:nth-child(1){
    color: var(--DesaturatedRed);
    font-size: 3.5rem;
    font-weight: 400;
}

.left p{
    color: var(--DesaturatedRed);
    font-size: 1rem;
    margin-bottom: 2rem;
}

.left .input{
    height: auto;
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
}

.input input{
    height: 100%;
    width: 100%;
    color: var(--DesaturatedRed);
    padding: 0.8rem 2rem;
    border-radius: 30px;
    font-size: 1.1rem;
    border: none;
    border: 0.2px solid rgb(150, 150, 150);
    outline: var(--SoftRed);
}

input::placeholder{
    color: var(--DesaturatedRed2);
}

.input button{
    position: absolute;
    width: 16%;
    top: -1%;
    right:0%;
    padding: 0.8rem 0rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background-color: var(--SoftRed);
}

button:hover{
    background-color: #ffd2de;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#erroricon{
    position: absolute;
    top: 20%;
    right: 20%;
}

#error{
    color: var(--SoftRed);
}

.hidden{
    display: none;
}

.container .right{
    height: 100%;
    width: 40%;
}

.right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#hero-mobile{
    display: none;
}

.attribution{
    position: absolute;
    bottom:5%;
    left: 50%;
    transform: translate(-50% ,-50%); 
    font-size: 12px;
    text-align: center; 
}

.attribution a{ 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    main{
        background-color: slateblue;
    }

    .container{
        width: 60rem;
    }

    .container .left{
        padding: 3rem 2rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) { 
    main{
        background-color: salmon;
    }
    
    .container{
        width: 46.5rem;
    }

    .container .left{
        padding: 3rem 2rem;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) { 
    html, body{
        overflow: auto;
    }
    
    main{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .container{
        height: 94%;
        width: 100%;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position:relative;
    }
    
    .container .logo{
        padding: 1rem 3rem;
        background-color: white;
        width: 100%;
        order: 1;
        display: block;
    }
    
    .container .left{
        order: 3;
        height: 60%;
        width: 100%;
        padding: 1rem 5rem;
    }
    
    .left #logo{
        display: none;
    }

    .htext{
        text-align: center;
        margin-bottom: 2rem;
    }
    
    .left .htext h1{
        font-size: 2.5rem;
        letter-spacing: 0.6rem;
    }
    
    .left .htext h1:nth-child(1){
        font-size: 2.5rem;
    }
    
    .left p{
        text-align: center;
    }
    
    .container .right{
        order: 2;
        height: 40%;
        width: 100%;
    }
    
    .right img{
        object-position: top;
    } 
    
    #hero-mobile{
        display: block;
    }

    #hero-desktop{
        display: none;
    }

    footer{
        height: 6%;
        width: 100%;
    }
    
    .attribution{
        position:relative;
        bottom:-50%;
        left: 50%;
        transform: translate(-50% ,-50%); 
        font-size: 14px;
        text-align: center; 
    }
    
    .attribution a{ 
        font-size: 14px;
    }

}

@media only screen and (max-width: 575px) {
    html, body{
        overflow: auto;
    }
    
    main{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .container{
        height: 100%;
        width: 100%;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position:relative;
    }
    
    .container .logo{
        height: 9%;
        padding: 1rem 0rem 0rem 1rem;
        background-color: white;
        width: 100%;
        order: 1;
        display: block;
    }
    #logotop{
        height: 80%;
    }
    
    .container .left{
        order: 3;
        height: 59%;
        width: 100%;
        padding: 1rem 2rem;
    }
    
    .left #logo{
        display: none;
    }

    .htext{
        text-align: center;
        margin-bottom: 1.5rem;
    }
    
    .left .htext h1{
        font-size: 2.5rem;
        letter-spacing: 0.6rem;
    }
    
    .left .htext h1:nth-child(1){
        font-size: 2.5rem;
    }
    
    .left p{
        text-align: center;
    }

    .input button{
        width: 20%;
    }

    #erroricon{
        right: 25%;
    }
    
    .container .right{
        order: 2;
        height: 30%;
        width: 100%;
    }
    
    .right img{
        object-position: top;
    } 
    
    #hero-mobile{
        display: block;
    }

    #hero-desktop{
        display: none;
    }

    footer{
        height: 10%;
        width: 100%;
        margin: 0rem 0rem;
        padding-bottom: 3rem;
    }
    
    .attribution{
        position:relative;
        bottom: -100%;
        left: 50%;
        transform: translate(-50% ,-50%); 
        font-size: 12px;
        text-align: center; 
    }
    
    .attribution a{ 
        font-size: 12px;
    }
}